.heading{
    font-family: poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin: 20px 0;

}
.overall-container{
    display: block;
}

.filterpanel{
    height: 682px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    padding: 15px;

}
.resultpanel{
    height: 291px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    padding: 30px;

}
.filterpanelheading{
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    

}
.filterpanelSubheading{
    font-family: poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin: 15px 0;

}
.locationSelection{
    height: 35px;
    width: 100%;
    padding: 8px 16.7px 7px 15px;
    border-radius: 3px;
    border: solid 1px #192f60;

}
.cuisinOption{
    font-family: poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin: 10px;

}

.UpperSection{
    padding: 20px;
    padding-bottom: 0;
    width: 500px;
    margin-left: 80px;
}
.lowerSection{
    width: 500px;
    margin-right: 80px;
    padding: 20px;
    padding-bottom: 0px;

}


.resultsImage{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-left: 5px;

}
.resultsHeading{
    font-family: poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: right;
    color: #192f60;
    margin-right: 0px;

}
.resultsSubHeading{
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: black;

}
.resultsAddress{
    font-family: poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: right;
    color: #192f60;

}
.pagination{
    display: flex;
    padding-left: 30%;

}
.paginationButton{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px;
}
@media screen and (max-width: 1220px) {
    .resultsHeading, .resultsSubHeading, .resultsAddress{
        margin-left: 50px;
    }
    .lowerSection{
        padding-top: 0;
    }
    .lowerSection .resultsAddress{
        margin-left: 0;
        width: 100px;
    }
    
}
