body{
    margin: 0;

}

.homeimage{
    height: 450px;
    width: 100%;

}
.navbar{
    background-color: black;
    height: 30px;
 }   
 .nb-box{
    border: 2px solid black;
    height: 76%;
    width: 100%;
    margin: auto;
    text-align: right;
    line-height: 10px;
 }
 .loginbutton{
    background-color: transparent;
    color: white;
    border: none;
 }
 .createbutton{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 1px;
    margin-left: 15px;
    margin-right: 15px;
 }

.topsection{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}
.logo{
    width: 99px;
    height: 99px;
    margin: auto;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 20px;
    font-family: poppins;
    font-size: 70px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 99px;
    letter-spacing: normal;
    color: #eb2929;

}
.headertext{
    height: 51px;
    font-family: poppins;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: skyblue;
    margin-top: 20px;
}
.searchoptions{
    margin-top: 30px;
}
.locationbox{
    width: 245px;
    height: 45px;
    margin: 0 21px 0 0;
    padding: 10px;
    background-color: #fff;
    font-size: 18px;
}
.searchbox{
    position: relative;
}
.searchicon{
    position: absolute;
    top: 0px;
    left: 30px;
}
.searchinput{
    width: 477px;
    height: 45px;
    margin: 0 0 0 21px;
    padding: 10px;
    background-color: #fff;
    padding-left: 30px;
    font-size: 18px;

}
.bottomsection{
    margin: 50px 80px 80px 80px;
    /* margin: auto; */
   
}
.qs-heading{
    height: 43px;
    font-family: poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.qs-subheading{
    height: 25px;
    font-family: poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}
.qs-boxes-container{
    margin-top: 30px;
} 
.qs-box{
    display: inline-block;
    /* width: 33%; */
    height: 160px;
    box-shadow: 2px 2px 2px 1px grey;

    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}
.qs-box-contents{
    
    
}
.qs-image{
    width: 140px;
    height: 140px;
    margin: 0 29px 0 0;
    margin-top: 10px;
    border-radius: 10px;
}
.qs-item-heading{
    position: absolute;
    top: 0px;
    left: 180px;
    height: 25px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.qs-item-description{
    position: absolute;
    top: 40px;
    left: 180px;
    max-width: 190px;
    font-family: poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}
/* @media (min-width: 1000px) {
    .qs-item-description{
        min-width: 150px;
        left: 170px;
        top: 30px;
    }
    .qs-item-heading{
        left: 170px;
    }
}
@media (max-width: 816px) {
    .qs-item-description{
        width: 140px;
        left: 180px;
        top: 50px;
    }
    .qs-item-heading{
        left: 180px;
    }
}
@media (max-width: 500px) {
    .qs-item-description{
        width: 140px;
        left: 180px;
        top: 50px;
    }
    .qs-item-heading{
        left: 180px;
    }
} */



